<!DOCTYPE html>
<html>
<head>
<meta name="description" content="iOS Phone.app written in Ember.js" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width; initial-scale=1.0;">
<meta charset="utf-8">
<title>Ember Starter Kit</title>
  <link rel="stylesheet" href="styles/styles.css">
  {{ load "_templates.html" }}
</head>
<body>

  {{ render "_layouts/_touch-tones.html" }}

  <header>
    <p><a href="http://d-i.co/contact.html">Hire us to build your Ember app!</a></p>
  </header>

  {% block content %}{% endblock %}

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://builds.emberjs.com/handlebars-1.0.0.js"></script>
  <script src="http://builds.emberjs.com/tags/v1.1.1/ember.min.js"></script>
  <script src="http://builds.emberjs.com/beta/ember-data.js"></script>
  <script src="js/main.js"></script>

</body>
</html>

