<!DOCTYPE html>
<html>
<head>
<meta name="description" content="iOS Phone.app written in Ember.js" />
<meta charset="utf-8">
<title>Ember Starter Kit</title>
  <link rel="stylesheet" href="styles/styles.css">
  {{ load "_layouts/_templates.html" }}
</head>
<body>

  {{ render "_layouts/_touch-tones.html" }}

  {% block content %}{% endblock %}

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://builds.emberjs.com/handlebars-1.0.0.js"></script>
  <script src="http://builds.emberjs.com/tags/v1.1.1/ember.min.js"></script>
  <script src="http://builds.emberjs.com/beta/ember-data.js"></script>
  <script src="js/main.js"></script>

</body>
</html>

