<script type="text/x-handlebars" data-template-name="components/keypad-button">
  {{number}}
</script>

<script type="text/x-handlebars" data-template-name="components/keypad">
  <div class="row">
    {{keypad-button number=1 action="numberEntered"}}
    {{keypad-button number=2 action="numberEntered"}}
    {{keypad-button number=3 action="numberEntered"}}
  </div>
  <div class="row">
    {{keypad-button number=4 action="numberEntered"}}
    {{keypad-button number=5 action="numberEntered"}}
    {{keypad-button number=6 action="numberEntered"}}
  </div>
  <div class="row">
    {{keypad-button number=7 action="numberEntered"}}
    {{keypad-button number=8 action="numberEntered"}}
    {{keypad-button number=9 action="numberEntered"}}
  </div>
  <div class="row">
    {{keypad-button number="*" action="numberEntered"}}
    {{keypad-button number=0 action="numberEntered"}}
    {{keypad-button number="#" action="numberEntered"}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="call/new">
  {{phoneNumber}}
  {{#if hasEntries}}
    <button {{action removeNumber}}><-</button>
    <div class="row">
      <button {{action addToContacts}}>Add to Contacts</button>
    </div>
  {{/if}}
  {{keypad action="numberEntered"}}
  <div class="row">
    <button {{action placeCall}}>Call</button>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="contact/index">
  {{#link-to "contact.new" tagName="button"}}+{{/link-to}}

  <ul>
    {{#each contact in controller}}
    <li>
      {{#link-to "contact.show" contact class="row"}}
      <span>{{contact.firstName}} <strong>{{contact.lastName}}</strong></span>
      {{/link-to}}
    </li>
    {{/each}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="contact/show">
  <h2>{{firstName}} {{lastName}}</h2>
  {{#if company}}
  <h3>{{company}}</h3>
  {{/if}}

  <ul>
  {{#each number in formattedPhoneNumbers}}
    <li>
      <span class="label">{{number.label}}</span>
      <span class="main">{{number.stringValue}}</span>
    </li>
  {{/each}}
  </ul>

  {{notes}}
</script>

<script type="text/x-handlebars" data-template-name="contact/new">
  <form {{action "save" on="submit"}}>
    <button {{action "cancel"}}>Cancel</button>
    <button class="primary-action">Done</button>

    {{input type="text" value=firstName placeholder="First"}}
    {{input type="text" value=lastName placeholder="Last"}}
    {{input type="text" value=company placeholder="Company"}}

    {{#each number in phoneNumbers}}
      {{select-list value=number.label collection=App.PHONE_NUMBER_LABELS}}
      {{input type="text" value=number.number placeholder="Phone"}}
    {{/each}}
    <button {{action "buildPhoneNumber"}}>Add phone</button>

  </form>
</script>

<script type="text/x-handlebars" data-template-name="components/select-list">
  {{#each item in collection}}
    <option {{bind-attr value=item}}>{{item}}</option>
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="application">
  <div class="main-window">
  {{outlet}}
  </div>
  <div class="row">
    {{#link-to "contact"}}Contacts{{/link-to}}
    {{#link-to "call.new"}}Keypad{{/link-to}}
  </div>
</script>

