@import "normalize";

$iphone-width: 640px * 1.775;
$iphone-height: 1136px * 1.775;
$ratio: 1.775;
$scale: 3;

%cf {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

body {
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #333;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  &:link {
    color: inherit;
  }
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.main-window {
  position: relative;
  margin: 0 auto;
  width: 640px;
  height: 960px;
  background: #f7fbfc url("../images/iphone-header.png") no-repeat 0 0;
}

header,footer {
  a {
    color: #929292;
    &:hover {
      text-decoration: underline;
    }
  }
  text-align: center;
  color: #f7fbfc;
}

.row {
  @extend %cf;
}

// Tab bar

.tab-bar {
  @extend %cf;
  position: absolute;
  bottom: 0;
  height: 98px;
  border-top: 1px solid transparent;
}

.tab-bar-item {
  float: left;
  padding-top: 11px;
  height: 78px;
  width: 128px;
  font-size: 18px;
  text-align: center;
  color: #929292;
  background-position: 0 0;
  background-repeat: no-repeat;

  img {
    margin: 0 auto 7px;
    display: block;
  }
}

// Keypad

.entry {
  position: absolute;
  top: 37px;
  width: 100%;
  font-weight: 200;
  text-align: center;
}

.phone-entry {
  display: block;
  overflow: hidden;
  margin-left: 30px;
  width: 480px;
  font-size: 72px;
  font-weight: 100;
}

.backspace {
  position: absolute;
  right: 0;
  top: 35px;
  right: 50px;
  height: 32px;
  width: 40px;
  text-indent: -99999px;
  background: url("../images/backspace.png") no-repeat 0 0;
}

.add-contacts {
  font-size: 28px;
  color: #097eff;
  background-color: #f7fbfc;
}

.keypad {
  margin: 0 auto;
  width: 496px;
}

.keypad--top {
  padding-top: 174px;
}

.keypad-button {
  padding: 10px 20px;
  margin-bottom: 12px;
  margin-left: 39px;
  height: 136px;
  width: 136px;
  font-size: 72px;
  font-weight: 100;
  background-color: #fff;
  border: 3px solid #4a9fc0;
  border-radius: 68px;

  &:first-of-type {
    margin-left: 0;
  }
}

.call-button {
  padding: 10px;
  width: 100%;
  font-size: 56px;
  font-weight: normal;
  color: #fff;
  background-color: #4cd964;
  border-radius: 10px;
}

// Contact list

.contact-list {
  margin: 0;
  list-style-type: none;
  height: 646px;
  overflow: scroll;
  background-color: #fff;
  border-bottom: 1px solid #b2b2b2;

  li {
    font-size: 34px;
    border-bottom: 1px solid #c8c7cc;
  }

  a {
    display: block;
    padding: 24px 0 23px;
    color: #000;
  }
}

// Search form

.form-search {
  bottom: 0;
  height: 86px;
  width: 100%;
  background-color: #c9c9ce;
  border-top: 1px solid #7e7e7e;
}

.search-input {
  display: block;
  margin: 15px auto 0;
  height: 56px;
  width: 608px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  border: 0;
  border-radius: 10px;
}

// Header actions

.page-header {
  position: relative;
  border-bottom: 1px solid #b5b5b5;
}

.header-actions {
  padding-top: 67px;
  padding-bottom: 19px;
  display: table;
  width: 100%;
  font-size: 34px;
}

.header-action-item {
  display: table-cell;
  text-align: center;
  width: 33.33%;
}

.header-action-item--left,
.header-action-item--right {
  color: #097eff;

  button {
    color: #097eff;
  }
}

.header-action-item--left {
  text-align: left;
  padding-left: 30px;
}

.header-action-item--right {
  text-align: right;
  padding-right: 30px;
}

.add-contact-button {
  padding: 0 30px 0 0;
  margin: 0;
  height: 31px;
  width: 31px;
  text-indent: -99999px;
  background: url("../images/plus.png") no-repeat 0 0;
}

// Contact form

.contact-form-container {
  padding-top: 20px;
  height: 713px;
  overflow: scroll;
  font-size: 34px;
  font-weight: 200;
  background-color: #fff;
  border-bottom: 1px solid #b2b2b2;

  input {
    display: block;
    margin-bottom: 46px;
    font-size: 34px;
    font-weight: 200;
    border: 0;

    &:focus {
      outline: 0;
    }
  }
}

.contact-photo-input,
.contact-info-inputs {
  float: left;
}

.contact-photo-input {
  width: 247px;
}

.contact-info-inputs {
  width: 393px;
}

.add-photo {
  display: block;
  margin-left: 70px;
  padding: 20px;
  width: 66px;
  color: #097eff;
  font-size: 26px;
  text-transform: lowercase;
  text-align: center;
  border-radius: 68px;
  border: 2px solid #c9c9c9;
}

.add-phone-container {
  margin-left: 24px;
}

.add-phone-button {
  display: block;
  padding: 20px 0 20px 70px;
  width: 100%;
  font-size: 26px;
  font-weight: 200;
  text-align: left;
  text-transform: lowercase;
  color: #097eff;
  background: url("../images/add.png") no-repeat 0 50%;
  border-bottom: 1px solid #c9c9c9;
}
