@import "normalize";

$iphone-width: 640px * 1.775;
$iphone-height: 1136px * 1.775;
$ratio: 1.775;
$scale: 3;

.main-window {
  width: $iphone-width / ($ratio * $scale);
  height: $iphone-height / ($ratio * $scale);
}
